@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  --mobile-width: 390px;
  --laptop-width: 1440px;
  --desktop-width: 1920px;
}
